<%= "#{@game.name(@game.current_player)} attacked #{@game.name(@game.opponent)}" %>
<br>
<%= "#{@game.name(@game.opponent)}'s hit points are now: #{@game.hit_points(@game.opponent)}" %>
<br>
<form action='/play'>
  <input type='submit' value='OK'>
</form>
