<div align="center">
<h1><p> <%= @game.player_1.name %> attacked <%= @game.player_2.name %>! </p></h1><br>

<%= @game.player_2.name %>: <%= @game.player_2.hp %> HP<br><br>

<a href="/play">OK</a>

</div>
