<div align="center">
<h1><p> <%= @Player1.name %> attacked <%= @Player2.name %>! </p></h1><br>

<%= @Player2.name %>: <%= @Player2.hp %> HP<br><br>

<form action="/attack">
  <input type="submit" value="Attack">
</form> 
</div>
