<div align="center">
<h1><p> <%= @game.active_player.name %> attacked <%= @game.opponent.name %>! </p></h1><br>

<%= @game.opponent.name %>: <%= @game.opponent.hp %> HP<br><br>

<a href="/play">OK</a>

</div>
