<%= "#{@game.name(@game.player1)} attacked #{@game.name(@game.player2)}" %>
<br>
<%= "#{@game.name(@game.player2)}'s HP has decreased" %>
<br>
<form action='/play'>
  <input type='submit' value='OK'>
</form>
