<%= "Hey #{@player1_name}, hey #{@player2_name}! Welcome to the Battle..." %>
<br>

<%= "#{@player2_name}'s hit points: #{@player2_hitpoints}" %>
<form action='/attack'>
  <input type='submit' value='Attack <%=@player2_name%>'>
</form>
